html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-height: 605px;
	min-width: 770px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.nav {
	margin-top: 5px;
}

.item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.stocksearch {
	margin-top: 7px;
	text-align: center;

}
.carousel-inner {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 200px;
}
.stretch {
	width: 100%;
}
